.disabled {
    color: #c9cbcc;
    background-color: #e0efee;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    
    a {
        color: #50c0b5;
        font-weight: 500;
        font-size: 18px;
    }

    a:hover {
        color: #142346;
        text-decoration: underline;
    }
}

.footer-col {
    padding: 40px 0;
}

.bg-custom {
    background-color: #e0efee;
}