{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message | safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Vote in the
              <a href=https://seescience.org/usergroup_election2024/>SEES User
              Group Committee Election 2024</a>       </legend>

                <!-- Full Name Field -->
                <div class="form-group">
                    {{ form.full_name.label(class="form-control-label") }}
                    {% if form.full_name.errors %}
                        {{ form.full_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.full_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.full_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Email Field -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }} (Are you a
                    member of the
                    <a href=https://millenia.cars.aps.anl.gov/mailman/listinfo/sees_users/>
                    SEES Users Mailing List</a>?)
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- ORCID iD Field -->
                <div class="form-group">
                    {{ form.orcid_id.label(class="form-control-label") }} (see
                    <a href=https://orcid.org>ORCID</a>)
                    {% if form.orcid_id.errors %}
                        {{ form.orcid_id(id="orcid", class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.orcid_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.orcid_id(id="orcid", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                  Select 4 Candidates, in your order of preference for Ranked
                  Choice Voting. <br>See
                  <a href=https://seescience.org/usergroup_election2024/#how_to_vote>How to
                    Vote</a> and the
                  <a href=https://seescience.org/usergroup_election2024/#candidates>List
                  of Candidates</a> for more details.
                </div>
                <!-- Candidate 1st Selection -->
                <div class="form-group">
                    {{ form.selection_1.label(class="form-control-label") }}
                    {% if form.selection_1.errors %}
                        {{ form.selection_1(class="form-control form-control-lg is-invalid choice") }}
                        <div class="invalid-feedback">
                            {% for error in form.selection_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.selection_1(class="form-control form-control-lg choice") }}
                    {% endif %}
                    <option value="" selected>Select a candidate...</option>
                </div>
                <!-- Candidate 2nd Selection -->
                <div class="form-group">
                    {{ form.selection_2.label(class="form-control-label") }}
                    {% if form.selection_2.errors %}
                        {{ form.selection_2(class="form-control form-control-lg is-invalid choice") }}
                        <div class="invalid-feedback">
                            {% for error in form.selection_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.selection_2(class="form-control form-control-lg choice") }}
                    {% endif %}
                    <option value="" selected>Select a candidate...</option>
                </div>
                <!-- Candidate 3rd Selection -->
                <div class="form-group">
                    {{ form.selection_3.label(class="form-control-label") }}
                    {% if form.selection_3.errors %}
                        {{ form.selection_3(class="form-control form-control-lg is-invalid choice") }}
                        <div class="invalid-feedback">
                            {% for error in form.selection_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.selection_3(class="form-control form-control-lg choice") }}
                    {% endif %}
                    <option value="" selected>Select a candidate...</option>
                </div>
                <!-- Candidate 4th Selection -->
                <div class="form-group">
                    {{ form.selection_4.label(class="form-control-label") }}
                    {% if form.selection_4.errors %}
                        {{ form.selection_4(class="form-control form-control-lg is-invalid choice") }}
                        <div class="invalid-feedback">
                            {% for error in form.selection_4.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.selection_4(class="form-control form-control-lg choice") }}
                    {% endif %}
                    <option value="" selected>Select a candidate...</option>
                </div>
            </fieldset>
            <!-- Confirmation Email Checkbox -->
            <div class="form-group">
                {{ form.send_email.label(class="form-control-label") }}
                {{ form.send_email() }}
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                {% if voting_ended %}
                    {{ form.submit(class="btn btn-outline-info btn-disabled", disabled="disabled") }}
                {% else %}
                    {{ form.submit(class="btn btn-outline-info") }}
                {% endif %}
            </div>
        </form>
    </div>
    <!-- Return to SEES main page -->
    <div class="border-top pt-3">
        <small class="text-muted">
            <p>Already voted? Go back to the main <a href="https://seescience.org/usergroup_election2024/">election</a> page. If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:sees_info@millenia.cars.aps.anl.gov">sees_info@millenia.cars.aps.anl.gov</a>.</p>
        </small>
    </div>
{% endblock content %}